<!DOCTYPE html>
<html>
<head>
  <title>MyProductApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div>
    <%= link_to 'English', root_path(locale: :en) %>
    <%= link_to 'Indonesia', root_path(locale: :id) %>
  </div>

  <%= yield %>
</body>
</html>
